@{
    ViewData["Title"] = "About";
}

<div class="row mt-5">
    <div class="col d-flex align-items-center">
        <div>
            <h1>I was born in Toronto, Canada back in 1998 (eh)</h1>
            <p>After I got my fill of pond hockey and maple syrup, I moved to Toledo, Ohio where the weather is a bit nicer, but the moose per capita level is disappointing. It was there in my Toledo high school where my career path began to form. As far back as I can remember, I have always been interested in robots, but it was around freshman year when I really went in on the whole software and electronics thing. I was a big nerd back then (still am). I was captain of the chess club, a big model UN guy, and was always working on some app idea that I thought was going to make it big. Fast forward a few years and you’ll find me at The Ohio State University working on my computer engineering degree. If you want a little more detail on my professional career, feel free to hit that résumé link at the top of the page. But if you want the whole story told by me, I guess setting up an interview is the only option.</p>
        </div>
    </div>
</div>