@{
    ViewData["Title"] = "Home Page";
}


<div class="row mt-5">
    <div class="col d-flex align-items-center">
        <div>
            <h1>Lorem ipsum</h1>
            <p>dolor sit amet, labitur evertitur abhorreant ei qui. Ad sea oblique fastidii. Nam ex pertinax repudiandae, magna referrentur mel eu. Quo discere ornatus patrioque at.</p>
            <p>No brute dissentias mei, mel ea vocent docendi probatus, quaeque facilisi sed ad. No eum labitur antiopam, paulo vocent delicata ea usu, ne his discere omnesque definitiones. Id eos prima soluta nemore. Et mei tota ipsum scaevola, eu per elit adolescens voluptatibus, ea viderer graecis nec. Duo consetetur posidonium necessitatibus ad, eos eu facete inermis admodum.</p>
        </div>
    </div>
    <div class="col">
        <img src="~/images/JamesSteven.png" class="img-fluid mainPic mx-auto d-block" alt="Responsive image">
    </div>
</div>
<div class="row mt-5">
    <div class="col-sm">
        One of three columns
    </div>
    <div class="col-sm">
        One of three columns
    </div>
    <div class="col-sm">
        One of three columns
    </div>
</div>