@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-7">
            <div>
                <h1>My name is James Steven</h1>
                <p>I am an energetic leader, passionate learner, and aspiring computer engineer. I love spending my time working with others on a wide range of projects and activities. For the past few years, these endeavors have mostly been in the fields of software engineering, hardware design, and project management. Both in professional and casual environments, I have enjoyed diving deeper into the technical aspects of my work. I have done this through learning more languages, expanding my knowledge of ones I already know, and most importantly, challenging myself with more complex applications of my knowledge. This path has led me through many different ventures, some big, some small, and some more successful than others. Along the way, I have learned a lot about software and hardware, but perhaps more importantly, I have gained interpersonal skills that allow me to be a better leader as well as a better team member. Recently I have had increasing opportunities to lead and coordinate projects as well as directly contribute to them. This is a development I welcome, and I am excited by the possibility of experiencing more project management opportunities along with the software and hardware challenges I have enjoyed.</p>
                <p>So please, have a look at some of the projects and groups I have been a part of recently. Learn a little more about my background. Maybe even download a résumé.</p>
                <p>-James N Steven</p> 
            </div>
        </div>
        <div class="col">
            <img src="~/images/JamesSteven.png" class="img-fluid mainPic mx-auto d-block" alt="Responsive image">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm">
            <img src="~/images/Spikeball Fader.png" class="img-fluid faders" alt="Responsive image">
        </div>
        <div class="col-sm">
            <img src="~/images/JGCPA Fader.png" class="img-fluid faders" alt="Responsive image">
        </div>
        <div class="col-sm">
            <img src="~/images/ChessBot Fader.png" class="img-fluid faders" alt="Responsive image">
        </div>
    </div>
</div>