@{
    ViewData["Title"] = "Projects";
}

<div class="row mt-5">
    <div class="col-md">
        <img src="~/images/Spikeball Fader.png" class="img-fluid mx-auto d-block" alt="Responsive image" style="max-height: 300px;">
    </div>
    <div class="col-md">
        <h1>Spikeball Club</h1>
        <p>Not many know what spikeball is, and even fewer play it. My goal is to change that. Spikeball is a game based on bouncing a ball off a trampoline like net on the ground. I had been playing the sport throughout high school and when I found out that an enormous school like Ohio State didn’t have a club, I found a couple of like minded freshman and started the official club. I am currently the vice president and am always looking for new members! (https://docs.google.com/forms/d/1xpGukIHbkrorO4-huCCB3PqcLVyYBJR4gI4xGRsZgnQ)</p>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md">
        <img src="~/images/ChessBot Fader.png" class="img-fluid mx-auto d-block" alt="Responsive image" style="max-height: 300px;">
    </div>
    <div class="col-md">
        <h1>Autonomous OpenCV Chess Robot</h1>
        <p>This is one of those rare projects that interests me on almost every level. In a brief summation, the project was to build a SCARA style robot arm run by Simulink software that uses the OpenCV library to fully autonomously perform image processing on a chess board and ultimately play a human opponent. This project is funded through a grant by the AVC foundation of Sigma Phi Epsilon.</p>
    </div>
</div>


<div class="row mt-5">
    <div class="col-md">
        <img src="~/images/JGCPA Fader.png" class="img-fluid mx-auto d-block" alt="Responsive image" style="max-height: 300px;">
    </div>
    <div class="col-md">
        <h1>John Glenn College of Public Affairs</h1>
        <p>My first ever job was in IT back in freshman year of highschool. I worked on the team for four summers and through that experience I gained an affinity for working with users and ensuring the backend infrastructure is working as it should. This passion stayed with me, and as soon as I arrived at Ohio State, I seeked out a position in IT at the John Glenn College of public affairs. In my years working at the college, I have gained insight into what makes a good user experience and what users like to see on the front end. These skills have helped me immensely in other forays into the world of software design. My only regret is never meeting the hero that stands as the institution’s namesake.</p>
    </div>
</div>