@{
    ViewData["Title"] = "Projects";
}

<div class="row mt-5">
    <div class="col-md">
        <img src="~/images/Spikeball Fader.png" class="img-fluid mx-auto d-block" alt="Responsive image" style="max-height: 300px;">
    </div>
    <div class="col-md">
        <h1>Lorem ipsum</h1>
        <p>dolor sit amet, labitur evertitur abhorreant ei qui. Ad sea oblique fastidii. Nam ex pertinax repudiandae, magna referrentur mel eu. Quo discere ornatus patrioque at.</p>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md">
        <img src="~/images/ChessBot Fader.png" class="img-fluid mx-auto d-block" alt="Responsive image" style="max-height: 300px;">
    </div>
    <div class="col-md">
        <h1>Lorem ipsum</h1>
        <p>dolor sit amet, labitur evertitur abhorreant ei qui. Ad sea oblique fastidii. Nam ex pertinax repudiandae, magna referrentur mel eu. Quo discere ornatus patrioque at.</p>
    </div>
</div>


<div class="row mt-5">
    <div class="col-md">
        <img src="~/images/JGCPA Fader.png" class="img-fluid mx-auto d-block" alt="Responsive image" style="max-height: 300px;">
    </div>
    <div class="col-md">
        <h1>Lorem ipsum</h1>
        <p>dolor sit amet, labitur evertitur abhorreant ei qui. Ad sea oblique fastidii. Nam ex pertinax repudiandae, magna referrentur mel eu. Quo discere ornatus patrioque at.</p>
    </div>
</div>